body {
   margin: 0; 
   padding: 0;
   background: url(./bg1.jpeg) no-repeat center center fixed; 
   background-size: cover;
   color:white;
   /* background: url('https://files.slack.com/files-pri/T0351JZQ0-F01SD6KE937/adobestock_180424397.jpeg'); */
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
}
button {
    font-family: 'Roboto', sans-serif;
}

.hidden{
    display:none;
}

h1,
h2,
h3,
p {
    margin: unset;
}


/* Alert */
#alert-message {
    box-shadow: 2px 1px 1px 1px rgb(201, 201, 201);
    padding: 10px 20px;
    position: absolute;
    top: 0;
    width: 400px;
    background: rgb(230, 39, 39);
    left: 50%;
    transform: translate(-50%, 0); 
    text-align: center;
}

/* Container */
.container {
    margin-top: 50px;
    max-width: 1000px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

.book-container {
    margin-top: 30px;
}

/* Buttons */
.active {
    background: rgb(197, 222, 253);
   
}

.nav-button  {
    padding: 10px 20px;
    border-radius: 5px;
    width: 155px;
}

.nav-button:first-child {
    margin-right: 15px;
}

/* BookLists */
.listOfBooks .book-card:hover {
    cursor: pointer;
}
.listOfBooks{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#all-books-header{
    text-align: center;
    margin-bottom: 15px;
}
.book-card p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}
/* Card */
.book-card {
    /* color: black; */
    font-size: 20px;

 

    text-align: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 15px 20px 15px;
    /* margin-bottom: 20px; */
    padding: 5px;
    border: 2px solid white;
    box-sizing: border-box;

    /* border:1px solid black; */
    width: 15%;
    height: 272px;
    background-color: rgba(10, 32, 69, 0.767);
    /* box-shadow: 2px 1px 1px 2px rgba(255, 255, 255, 0.25); */
    
}



.book-card img {
    height: 200px;
    width: 100%;
    /* object-fit: cover; */
}  

.formSection {
    margin:auto;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    height: 400px;
    width: 300px;
    justify-content: space-evenly;
    background: rgba(118, 128, 146, 0.548);
}

.formSection button {
    padding: 10px 20px;
    border-radius: 5px;
    width: 155px;
    display: block;
    margin: 0 auto;
    
}

.formSection label {
    text-align: center;
}

.formSection input {
    width: 250px;
    height: 20px;
    display: block;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.726);
    border: none;
}

#edit-header {
    text-align: center;
    margin-bottom: 10px;
}

.bookDetails {
    border: 2px solid white;
    width: 500px;
    text-align: center;
    background: rgba(10, 32, 69, 0.705);
    padding: 10px;
}

#show-image {
    width: 250px;
    height: 320px;
    display: block;
    margin: 20px auto;
}

.bookDetails button {
    padding: 10px 20px;
    border-radius: 5px;
    width: 100px; 
}

#details-header {
    margin-bottom: 10px;
}

.loader {
    color: official;
    top:200px;
    position: absolute;
    width: 80px;
    height: 80px;
  }
  .loader div {
    transform-origin: 40px 40px;
    animation: loader 1.2s linear infinite;
  }
  .loader div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .loader div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .loader div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .loader div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .loader div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .loader div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .loader div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .loader div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .loader div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .loader div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .loader div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .loader div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .loader div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes loader {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

@media only screen and (max-width: 1000px) {
    .book-card {
    width: 150px;
    }
    
}
@media only screen and (max-width: 415px) {
    .book-card {
    display: block;
    }
    .listOfBooks{
        flex-direction: column;
    }
    .nav-button{
        width: 140px;
        padding:5px;
    }
    .bookDetails{
        width: 90%;
        font-size: 12px;
        height: 100%;   
        background: none; 
        border: none;
        color: rgba(0, 32, 69)
    }    
    #show-image{
        width:125px;
        height:160px;
    }
    .bookDetails button{
        width: 70px;
        height: 25px;
        padding:0px
    }
    #details-header{
        font-size: 20px
    }
}
